backcall==0.1.0
Basic==0.1
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.0
Django==2.1.2
django-cors-headers==2.4.0
djangorestframework==3.9.0
gunicorn==19.9.0
html2text==2018.1.9
idna==2.7
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
JPype1==0.6.3
lxml==4.2.5
nltk==3.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
PyArabic==0.6.5
pycurl==7.43.0.2
Pygments==2.3.0
pytz==2018.7
requests==2.20.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.11.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
wptools==0.4.17
